[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nonparaeff"]
	path = nonparaeff
	url = https://github.com/arecibo/nonparaeff
	shallow = true
	registered = true
